#content {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
}

#gallery_index img {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  box-shadow: 10px 10px 5px #888888;
}

#content section {
  margin: 20px 0;
}

#content .thumbnail:hover {
  border-color: #0088cc;
}

#content .thumbnail img {
  margin-top: 20px;
  width: 200px;
}

#content .thumbnail h4 {
  text-align: center;
}

#content .small {
  text-align: center;
}

#content .small div {
  margin: 30px 0;
}

#content .small img {
  box-shadow: 5px 5px 5px #888888;
}

#content .small img:hover {
  box-shadow: 10px 10px 5px #888888;
}
