#content {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
}

#index img {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  box-shadow: 10px 10px 5px #888888;
}

#content .thumbnail:hover {
  border-color: #0088cc;
}

#content .thumbnail img {
  margin-top: 20px;
  width: 200px;
}

#content .thumbnail h4 {
  text-align: center;
}

#e-news img {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  height: 200px;
  width: 200px;
}

#e-news img:hover {
  border-color: #0088cc;
}

#e-news .caption {
  text-align: center;
}

#e-news .row {
  margin-top: 50px;
} 
